.about-container{

}

.about-infos{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 32px;
}

.foto-perfil{
  max-width: 100%;
  display: block;
  height: 75%;
  padding-inline: 24px;
}

.presentation{  
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.presentation h1{
  font-size: 4rem;
}

.presentation p{
  font-size: 1.25rem;
}

.section{
  background-color: var(--c2);
  width: 100vw;
  
}